html,body{
    min-width: 300px;
    min-height:400px;
}
form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.form-input{
    border-radius: 3px;
    margin:5px 5px;
}
.btn{
    margin:10px auto ;
    width: 50%;
}