#basic {
    background: #000;
    border: 1px solid #ccc;
    width: 300px;
    height: 200px;
    margin: 0 auto;
  }


  video, #cssfilters-video, #screenshot-img {
      width: 300px;
      height: 200px;
  }
  audio, canvas, video {
      display: inline-block;
  }

  button {
      background: #333;
      color: #FFF;
      border-radius: 4px;
      border: 0;
      padding: 10px 14px;
  }

  button, input[type="button"], input[type="reset"], input[type="submit"] {
      cursor: pointer;
  }
  button, input {
      line-height: normal;
  }